{{!< default}}
<div class="col-md-8 index-post">
		{{! The tag below includes the post loop - partials/loop.hbs }}
		{{> "loop"}}
		{{pagination}}
</div>
<div class="col-md-4">
	<div class="sidebar-about index-sidebar">
		<h3 class="sidebar-title">About</h3>
		<hr>
		<div class="sidebar-about-logo">
			<img src="https://twitter.com/Komi_San/profile_image?size=original">
		</div>
		{{!-- About Me --}}
		<p>Komi</p>
		<p>Pink is Perfect Color</p>
	</div>
	<div class="index-sidebar sidebar-social-cintact">
		<h3>Social contact</h3>
		<h5>Follow Me!</h5>
		<hr>
		{{!-- Social contact --}}
		<a href="//github.com/Komi-San"><i class="fa fa-github"></i></a>
	</div>
	<div class="index-sidebar sidebar-tag">
		<h3>Tags</h3>
		<hr>
		{{tag_cloud limit="all"}}
	</div>
	<!--<div class="index-sidebar sidebar-link">
		<h3>Links</h3>
		<hr>
		<ul>
			{{!-- Links --}}
			<li><a href=""><i class="iconfont icon-link"></i> Link Name</a></li>
		</ul>
	</div>-->
</div>
