@import url(bootstrap.min.css);
@import url(fontawesome.css);
/*back-top strat*/
#back-btn {
	width: 50px;
	height: 50px;
	background: url(../images/top.png) no-repeat left top;
	position: fixed;
	right: 35px;
	/*margin-left: 90%;*/
	bottom: 30px;
	display: none;
	-webkit-transition:none;
	-moz-transition:none;
	-ms-transition:none;
	-o-transition:none;
}
#back-btn:hover {
	background: url(../images/top.png) no-repeat left bottom;  
}
//
@font-face {
	font-family: cuyabra;
	src: url('../fonts/cuyabra.otf');
}
* {
	padding: 0;
	margin: 0;
}
body {
	background: url(../images/body_bg.png);
	background-repeat: round;
	background-attachment: fixed;
	padding-top: 90px;
	font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
	cursor: url(../cursors/default.cur),default;
}
a, i, .tags {
	text-decoration: none;
	color: #255;
	-webkit-transition: all .6s;
	-moz-transition: all .6s;
	-ms-transition: all .6s;
	-o-transition: all .6s;
}
a:hover {
	text-decoration: none;
}
hr {
	margin: 0 auto 10px auto;
	color: #255;
}
.navbar-default {
	background: #fff;
	border: 0;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,.16);
	-webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.16);
	-moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,.16);
	-ms-box-shadow: 0 2px 10px 0 rgba(0,0,0,.16);
	-o-box-shadow: 0 2px 10px 0 rgba(0,0,0,.16);
}
.navbar-header span {
	font-size: 24px;
}
.navbar-bg {
	margin: 0 30px;
}
.navbar-brand {
	padding: 0;
	margin: 4px;
	height: 43px;
	display: inline-block;
	border-radius: 180px;
	overflow: hidden;
}
.navbar-brand>img { 
	width: auto;
	height:100%;
}
.navbar-brand2 {
	padding: 0;
	margin: 0;
	font-size: 22px;
	line-height: 50px;
	color: #739898;
}
.navbar-brand2:hover {
	color: #8AA2E9;
}
.navbar-default .navbar-nav>li>a {
	color: #302a31;
}
.navbar-default .navbar-nav>li>a:hover {
	color: #39b587;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
	color: #39b587;
	font-weight: bold;
	background-color: #fff;
}
.navbar-toggle {
	padding: 0;
}
.icon-caidan3 {
	font-size: 22px;
}
.navbar-default .navbar-toggle {
	border: 0;
	color: #a8b1a8;
}
.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
	color: #78a9f3;
	border: 0;
	background: rgba(0,0,0,0);
}
.index-post h1, h2, h3, h4 {
	margin: 0 auto 6px auto;
	color: #ccc;
}
.index-post-block a {
	text-decoration: none;
	color: #b1a3a3;
	font-size: 20px;
	font-weight: bold;
}
.index-post a:hover {
	color: #96b2e4;
}
.index-post-author {
	margin-bottom: 5px;
}
.index-post-author,
.index-post-author>a {
	font-size: 13px;
}
.index-post-demo {
	margin-bottom: 5px;
	color: #5d5454;
}
.index-post-date {
	margin: 0;
	color: #bb6969;
}
.index-post-block {
	background-color: #fff;
	padding: 20px;
	margin-bottom: 30px;
	border-radius: 2px;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-ms-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-o-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
}
.paging {
	margin-top: 40px;
}
.paging .paging-up,
.paging .paging-text,
.paging .paging-down {
	float: left;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-ms-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-o-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
}
.paging .paging-text,
.paging .paging-down {
	margin-left: 15px;
}
.paging-text {
	padding: 10px;
	color: #ef7484;
	font-weight: bold;
}
.paging-up>a,
.paging-down>a,
.paging-up>span,
.paging-down>span {
	display: block;
	padding: 10px;
	color: #b5cef5;
	font-weight: bold;
}
.paging .paging-up a:hover,
.paging .paging-down a:hover {
	background-color: #a4d9f3;
	color: #fff;
}
.index-sidebar {
	background-color: #fff;
	padding: 20px;
	/*padding: 10px 20px 20px 20px;*/
	margin-bottom: 15px;
	border-radius: 2px;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-ms-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-o-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
}
.index-sidebar>h3,
.index-sidebar>h5 {
	color: #b1a3a3;
	font-weight: bold;
	text-align: left;
}
/*sidebar strat*/
.sidebar-about {
	font-size: 18px;
	color: #9fb39a;
	text-align: center;
}
.sidebar-about .sidebar-about-logo {
	width: 100px;
	min-width: 100px;
	height: auto;
	border: 1px solid #255;
	border-radius: 180px;
	margin: 3px auto;
	overflow: hidden;
}
.sidebar-about-logo>img {
	width: 100%;
	height: 100%;

}
.sidebar-social-cintact a>i,
.sidebar-follow a>i {
	font-size: 30px;
	color: #b1a3a3;
	margin: 0 5px;
	padding-left: 6px;
	-webkit-transition: all .6s;
	-moz-transition: all .6s;
	-ms-transition: all .6s;
	-o-transition: all .6s;
}
.sidebar-social-cintact a>i:hover,
.sidebar-follow a>i:hover {
	color: #255;
}
.sidebar-link ul {
	margin: 0;
	list-style: none;
}
.sidebar-link ul>li {
	margin: 8px;
}
.sidebar-link a, .sidebar-link a>i {
	font-size: 18px;
	color: #ab9090;
	padding-left: 6px;
}
.sidebar-link a:hover,
.sidebar-link a>i:hover {
	color: #255;
}
.footer-info {
	text-align: center;
	font-size: 15px;
	color: #555;
	background-color: #fff;
	padding: 15px;
	margin:20px auto;
	border-radius: 2px;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-ms-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-o-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
}
.footer-info>a {
	color: #ab9090;	
}
.footer-info>a:hover {
	color: #88a1d0;
}
.sidebar-title {
	/*padding: 5px;
	margin: 0;*/
	/*border: 1px solid black;*/
	/*background-color: #ccc;*/
}
/*tag style*/
.tags {
	display: inline;
	padding: 5px;
	font-size: 15px;
	font-weight: 500;
	line-height: 2.5;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .3em;
	background: #b1a3a3;
	margin: 3px;
}
.tags:hover {
	color: #b1a3a3;
	background: #e8e8e8;
	border-radius: .6em;
}
/*sidebar hidde*/
@media (max-width: 990px) {
	.index-sidebar {
		display: none;
	}
}
/*Post page style start*/
/*public style strat*/
.about-page-title, .about-page-main,
.about-page-other, .post-page-main,
.post-page-share, .post-page-readmore,
.post-page-ad, .post-page-author {
	background-color: #fff;
	padding: 20px 35px;
	margin-bottom: 30px;
	overflow: hidden;
	border-radius: 2px;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-ms-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-o-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
}
.post-page-author>img {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	height: 100px;
	width: 100px;
	border-style: solid;
	border-color: #CCC;
	border-width: 2px;
}
.author-bio {
	display: inline;
	width: 100%;
	height: 100%;
	vertical-align: top;
}
.post-page-main p {
	font-size: 16px;
}
/*post page strat*/
.post-page-share>h3 {
	font-weight: bold;
	text-align: left;
}
.post-page-header {
	background-color: #fff;
	padding: 12px;
	margin-bottom: 15px;
	text-align: center;
	border-radius: 2px;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-ms-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-o-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
}
.post-page-main img {
	display: block;
	width: 95%;
	max-width: 95%;
	height: auto;
	margin: 15px auto;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-ms-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
	-o-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
}
.post-page-main-time {
	float: right;
}
.post-page-share {
	text-align: center;
}
.post-page-share>a>i {
	font-size: 35px;
	color: #888;
	margin: 0 10px;
}
.post-page-share>a>i:hover {
	color: #ccc;
}
.post-page-readmore>p {
	font-size: 18px;
	color: #8a8080;
	margin-top: 15px;
	margin-bottom: 0;
}
.post-page-readmore>p>a {
	color: #d45e44;
}
.post-page-readmore>p>a:hover {
	color: #bbb8e4;
}
/*about page strat*/
.about-page h3 {
	font-weight: bold;
	/*text-align: center;*/
}
.about-page p {
	color: #255;
	font-size: 18px;
}
.about-page-main-img,
.about-page-main-text {
	text-align: center;
	padding: 5px;
}
.about-img-logo {
	width: 180px;
	height: 180px;
	border-radius: 180px;
	border: 1px solid #ccc;
	/*padding: 1px;*/
	border-width: 2px;
	margin: 10px auto;
}
.about-img-logo>img {
	width:100% ;
	height: 100%;
}
.about-img-icon>a>i {
	font-size: 25px;
	color: #a28585;
	margin: 2px 5px;
}
.about-img-icon>a>i:hover {
	color: #72a9d8;
}
/*progress bar strat*/
.progress-bar {
	-webkit-box-shadow: none;
	box-shadow:  none;
}
.progress-bar-color-one {
	background-color: #94d3ff;
}
.progress-bar-color-two {
	background-color: #f56666;
}
.progress-bar-color-three {
	background-color: #73b740;
}
.progress-bar-color-four {
	background-color: #7563d8;
}
.progress-bar-color-five {
	background-color: #4ab8bd;
}
.progress-bar-color-six {
	background-color: #524521;
}
.progress-bar-color-seven {
	background-color: #d1d1d1;
}
